/* Reset and global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cascadia Code", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 250px;
  background-color: #242424;
  color: #c2c2c2;
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 0.875rem;
}

/* Form styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  font-size: 0.875rem;
}

.form-input {
  padding: 8px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  background-color: #303030;
  color: #c2c2c2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #c2c2c2;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

/* Button styles */
.button {
  background-color: #303030;
  color: #c2c2c2;
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  margin-top: 8px;

  &:hover {
    border-color: hsl(180, 100%, 20%);
    color: hsl(180, 100%, 40%);
  }
}

/* Leaderboard styles */
.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hidden {
  display: none !important;
}

.leaderboard-username {
  font-size: 1.25rem;
  font-weight: bold;
}

.leaderboard-info {
  font-size: 0.875rem;
}

/* Toggle styles */
.form-toggle {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 8px;
  position: relative;
}

.toggle-id-name {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  position: relative;

  width: 40px;
  height: 20px;

  border-radius: 20px;

  background-color: #303030;

  transition: background-color 0.1s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #303030;
    background-color: hsl(180, 100%, 40%);
    transition: transform 0.2s ease-in-out;
  }

  &:checked {
    &::after {
      transform: translateX(20px);
    }
  }
}

.toggle-label {
  position: absolute;
  top: 10px;
  left: 50px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

input#toggle-id:checked + .toggle-label #toggle-id-label-name {
  display: none;
}
input#toggle-id:not(:checked) + .toggle-label #toggle-id-label-id {
  display: none;
}

/* Toggle visibility of mutually exclusive inputs */
.form-group {
  display: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

input#toggle-id:checked ~ #form-leaderboard-id {
  display: block;
}

input#toggle-id:not(:checked) ~ #form-leaderboard-name {
  display: block;
}

/* Form error */
.form-error {
  position: absolute;
  top: 24px;
  left: 0;
  font-size: 0.625rem;
  color: hsl(180, 100%, 40%);
}
